body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f7fb;
}

.app.dark {
  background: #121212;
  color: white;
}

.container {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #2563eb;
  color: white;
}

.task-form,
.search-bar {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.task-form input,
.search-bar input,
.search-bar select {
  padding: 10px;
  flex: 1;
}

.task-form button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 20px;
}

.task-card {
  background: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  transition: 0.3s;
}

.task-card:hover {
  transform: translateY(-2px);
}

.completed {
  text-decoration: line-through;
}

.actions button {
  margin-left: 10px;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}